export PVE_API_NAME=username@node!ApiTokenName
export PVE_API_KEY=$(pass ls pve.domain:8006/api/token)
export PVE_API_URI_BASE=https://pve.domain:8006/api2/json
export PVE_API_URI_RESUME=/nodes/pve/qemu/101/status/resume
export PVE_API_URI_START=/nodes/pve/qemu/101/status/start
