#include "config.hpp"

char const* IP::SSID       = "MyAccessPoint";
char const* IP::PASSPHRASE = "verySecurePassphrase";


char const* PVE::NODE      = "my-pve.example.org";
uint16_t    PVE::PORT      = 8006;
char const* PVE::TOKEN     = "PVEAPIToken=USER@NODE!KEYNAME=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx";
